 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 446px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 406px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-image-1 {
  width: 454px;
  height: 378px;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 406px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 366px;
  height: 366px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 541px;
  }

  .u-section-1 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 335px;
  }

  .u-section-1 .u-image-1 {
    width: 441px;
    height: 367px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 335px;
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 442px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 257px;
  }

  .u-section-1 .u-image-1 {
    width: 324px;
    height: 270px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 257px;
  }

  .u-section-1 .u-image-2 {
    width: 336px;
    height: 336px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 476px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 208px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 219px;
    height: 182px;
    margin-top: 19px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 268px;
  }

  .u-section-1 .u-image-2 {
    width: 219px;
    height: 230px;
    margin-top: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 411px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 180px;
  }

  .u-section-1 .u-image-1 {
    width: 180px;
    height: 148px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 231px;
  }

  .u-section-1 .u-image-2 {
    width: 180px;
    height: 189px;
    margin-top: 14px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 632px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 19px auto;
}

.u-section-2 .u-image-1 {
  min-height: 594px;
  background-image: url("images/8a77edcbeca236e55a46d3e3b4ca4dd77edd34bf5ce045c952891d232b72595906af2f498f5d0dd340962c20299f76c16450fca5132daf67b2eadd_1280.jpg");
}

.u-section-2 .u-container-layout-1 {
  padding: 15px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  transition-duration: 0.5s;
  animation-duration: 1000ms;
  text-shadow: 2px 3px 1px rgba(128,128,128,0.15);
  margin: 83px 54px 0 133px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 629px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-icon-1 {
  width: 106px;
  height: 106px;
  background-image: none;
  margin: 15px auto 0 22px;
}

.u-section-2 .u-text-2 {
  margin: -57px 0 0 152px;
}

.u-section-2 .u-text-3 {
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 2.25rem;
  margin: -349px 34px 0 153px;
}

.u-section-2 .u-icon-2 {
  width: 106px;
  height: 106px;
  background-image: none;
  margin: 355px auto 0 22px;
}

.u-section-2 .u-text-4 {
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 2.25rem;
  margin: -106px 35px 0 152px;
}

.u-section-2 .u-text-5 {
  margin: 10px 34px 0 153px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 814px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 890px;
  }

  .u-section-2 .u-image-1 {
    min-height: 776px;
    background-position: 35.4% 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 285px;
    margin-right: 15px;
    margin-left: 103px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 776px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 15px;
    margin-right: 34px;
    margin-left: 22px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -354px;
    margin-right: 95px;
    margin-left: 143px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 364px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: -39px;
    margin-right: 95px;
    margin-left: 143px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 30px;
    margin-right: 0;
    margin-left: 143px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 378px;
  }

  .u-section-2 .u-layout-wrap-1 {
    min-height: 386px;
    width: 670px;
  }

  .u-section-2 .u-image-1 {
    min-height: 857px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 121px;
    margin-right: 8px;
    margin-left: 86px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 849px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 16px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 15px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -454px;
    margin-right: 8px;
    margin-left: 135px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 474px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 16px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 15px;
    margin-right: -42px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 666px;
  }

  .u-section-2 .u-layout-wrap-1 {
    min-height: 574px;
    width: 490px;
  }

  .u-section-2 .u-image-1 {
    min-height: 563px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: 120px;
    margin-right: -49px;
    margin-left: 143px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 701px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -329px;
    margin-right: 11px;
    margin-left: 143px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 333px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 166px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 11px;
    margin-right: 48px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 457px;
  }

  .u-section-2 .u-layout-wrap-1 {
    min-height: 365px;
    width: 290px;
  }

  .u-section-2 .u-image-1 {
    min-height: 354px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 144px;
    margin-right: 7px;
    margin-left: 52px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 839px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 19px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 11px;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
    margin-top: -437px;
    margin-right: 33px;
    margin-left: 120px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 444px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.5rem;
    margin-top: -26px;
    margin-right: 59px;
    margin-left: 120px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 14px;
    margin-right: 0;
    margin-left: 120px;
  }
}

.u-section-2 .u-text-1 {
  transition-property: fill, color, background-image, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform !important;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 353px;
  margin-bottom: 0;
}

.u-section-3 .u-slider-1 {
  min-height: 353px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-3 .u-image-1 {
  width: 94px;
  height: 94px;
  background-image: url("images/21686257_10214084160121257_4709243436556027891_n.jpg");
  background-position: 50% 50%;
  margin: 10px auto 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  margin: 32px 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 65px auto 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 80px;
}

.u-section-3 .u-image-2 {
  width: 94px;
  height: 94px;
  background-image: url("images/95537343_10163424940860613_8415866997786542080_n.jpg");
  background-position: 50% 50%;
  margin: 9px auto 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  margin: 25px 0 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: 25px auto 0;
}

.u-section-3 .u-carousel-item-3 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-3 .u-image-3 {
  width: 94px;
  height: 94px;
  background-image: url("images/226181_10150326045906187_6849368_n.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  margin: 25px 0 0;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  margin: 25px auto 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-carousel-control-1 {
  width: 43px;
  height: 43px;
  background-image: none;
}

.u-section-3 .u-carousel-control-2 {
  width: 43px;
  height: 43px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 991px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 394px;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto auto;
  margin: 60px auto 27px 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  grid-gap: 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-4 .u-image-1 {
  width: 308px;
  height: 308px;
  background-image: url("images/2021-10-1514.21.532685210960971565798_11788075265.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-4 .u-image-2 {
  width: 308px;
  height: 308px;
  background-image: url("images/ScreenShot2021-11-10at8.51.22PM.png");
  background-position: 45.46% 50%;
  margin: 0 auto;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 10px;
}

.u-section-4 .u-image-3 {
  width: 308px;
  height: 308px;
  object-position: 50% 0%;
  background-image: url("images/ScreenShot2021-11-10at8.50.25PM.png");
  background-position: 0% 50%;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 696px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 10px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-repeater-1 {
    min-height: 932px;
  }

  .u-section-4 .u-image-2 {
    background-position: 50% 50%;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 611px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 301px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-5 .u-text-1 {
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 0 0 30px;
}

.u-section-5 .u-image-1 {
  min-height: 301px;
  background-image: url("images/13909221_1823121977974193_1086238925303177639_o.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 301px;
}

.u-section-5 .u-container-layout-3 {
  padding: 0;
}

.u-section-5 .u-image-2 {
  height: 233px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 601px;
}

.u-section-5 .u-container-layout-4 {
  padding: 0 0 30px;
}

.u-section-5 .u-image-3 {
  margin-top: 0;
  margin-bottom: 0;
  height: 537px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 248px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
  }

  .u-section-5 .u-image-1 {
    min-height: 248px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 248px;
    background-position: 50% 50%;
  }

  .u-section-5 .u-image-2 {
    height: 192px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 496px;
    background-position: 50% 50%;
  }

  .u-section-5 .u-image-3 {
    height: 443px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1107px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 31px;
    margin-bottom: 23px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-image-1 {
    min-height: 317px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 317px;
  }

  .u-section-5 .u-image-2 {
    height: 245px;
    margin-top: -8px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 439px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-5 .u-image-3 {
    margin-top: -67px;
    height: 486px;
    object-position: 50% 8.31%;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1206px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 20px;
  }

  .u-section-5 .u-image-1 {
    min-height: 476px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 238px;
  }

  .u-section-5 .u-image-2 {
    height: 184px;
    margin-top: -13px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 329px;
  }

  .u-section-5 .u-image-3 {
    height: 365px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 867px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 27px;
    margin-bottom: 13px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
  }

  .u-section-5 .u-image-1 {
    min-height: 317px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 110px;
  }

  .u-section-5 .u-image-2 {
    height: 116px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 224px;
  }

  .u-section-5 .u-image-3 {
    margin-top: -11px;
    height: 230px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 322px;
}

.u-section-6 .u-group-1 {
  width: 1000px;
  min-height: 204px;
  background-image: none;
  height: auto;
  margin: 48px auto 0;
}

.u-section-6 .u-container-layout-1 {
  padding: 15px 0;
}

.u-section-6 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 3px auto 0 30px;
}

.u-section-6 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1.6;
  margin: 0 124px 0 90px;
}

.u-section-6 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: -4px 30px 0 auto;
}

.u-section-6 .u-text-2 {
  letter-spacing: 0px;
  font-weight: 700;
  width: 573px;
  margin: 20px auto 26px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-6 .u-text-1 {
    margin-left: 60px;
    margin-right: 94px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 341px;
  }

  .u-section-6 .u-group-1 {
    min-height: 229px;
    margin-top: 42px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 3px;
    margin-right: 30px;
    margin-left: 48px;
    font-size: 1.5rem;
  }

  .u-section-6 .u-icon-2 {
    margin-top: 16px;
    margin-right: 12px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 23px;
    margin-bottom: 23px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-icon-1 {
    margin-top: 0;
    margin-left: 14px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 9px;
    margin-right: -14px;
    margin-left: 14px;
  }

  .u-section-6 .u-icon-2 {
    margin-top: 28px;
    margin-right: 14px;
  }

  .u-section-6 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-group-1 {
    min-height: 245px;
    margin-top: 33px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 14px;
  }

  .u-section-6 .u-icon-1 {
    margin-top: 14px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 14px;
    margin-right: -10px;
    margin-left: 24px;
  }

  .u-section-6 .u-icon-2 {
    margin-top: 0;
    margin-right: 24px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin: 14px 0 25px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 751px;
}

.u-section-7 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  font-family: Merriweather, serif;
  margin: 60px 0 0;
}

.u-section-7 .u-layout-wrap-1 {
  width: 647px;
  margin: 40px auto 0 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 589px;
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-7 .u-group-1 {
  min-height: 178px;
  width: 303px;
  margin: -3px 0 0;
}

.u-section-7 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}

.u-section-7 .u-text-2 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.u-section-7 .u-text-3 {
  font-size: 3.75rem;
  font-weight: 700;
  width: 145px;
  margin: 20px auto 0;
}

.u-section-7 .u-text-4 {
  line-height: 3;
  margin: 33px 0 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: none;
  margin: 49px auto 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 589px;
  background-image: none;
}

.u-section-7 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-7 .u-group-2 {
  min-height: 182px;
  width: 306px;
  margin: 0 -3px 0 auto;
}

.u-section-7 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}

.u-section-7 .u-text-5 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-7 .u-text-6 {
  font-size: 3.75rem;
  width: 157px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-7 .u-text-7 {
  line-height: 3;
  margin: 30px 0 0;
}

.u-section-7 .u-btn-2 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: none;
  margin: 45px auto 0;
}

.u-section-7 .u-image-1 {
  width: 463px;
  height: 559px;
  object-position: 54.86% 50%;
  margin: -559px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1327px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
    width: 513px;
    margin-top: 62px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 38px;
    margin-left: auto;
  }

  .u-section-7 .u-group-1 {
    min-height: 186px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-bottom: 10px;
  }

  .u-section-7 .u-group-2 {
    margin-right: -2px;
  }

  .u-section-7 .u-text-5 {
    width: auto;
  }

  .u-section-7 .u-image-1 {
    margin-top: 32px;
    margin-bottom: 38px;
    object-position: 54.86% 100%;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1083px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 549px;
  }

  .u-section-7 .u-group-1 {
    min-height: 216px;
    width: 306px;
    margin-right: -2px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 569px;
  }

  .u-section-7 .u-group-2 {
    min-height: 215px;
    width: 303px;
    margin-right: 1px;
  }

  .u-section-7 .u-image-1 {
    height: 370px;
    margin-top: 3px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1438px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-right: -22px;
    margin-left: 49px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-group-1 {
    width: 534px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-group-2 {
    width: 534px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }

  .u-section-7 .u-text-5 {
    margin-top: 30px;
  }

  .u-section-7 .u-image-1 {
    height: 319px;
    margin-bottom: 20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1294px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 28px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 20px;
  }

  .u-section-7 .u-group-1 {
    min-height: 189px;
    width: 334px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 11px;
  }

  .u-section-7 .u-text-3 {
    font-size: 4.5rem;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 593px;
  }

  .u-section-7 .u-group-2 {
    min-height: 246px;
    width: 334px;
    margin-right: 0;
  }

  .u-section-7 .u-text-5 {
    margin-top: 0;
  }

  .u-section-7 .u-text-6 {
    font-size: 4.5rem;
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-7 .u-image-1 {
    height: 211px;
    margin-top: -89px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 424px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 405px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-image-1 {
  object-position: 58.39% 50%;
  margin-bottom: 0;
  margin-top: 0;
  height: 351px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 405px;
}

.u-section-8 .u-container-layout-2 {
  padding: 0 30px 30px;
}

.u-section-8 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  text-transform: none;
  margin: 28px 0 0;
}

.u-section-8 .u-icon-1 {
  width: 64px;
  height: 64px;
  color: rgb(255, 255, 255) !important;
  margin: 13px auto 0 0;
}

.u-section-8 .u-icon-2 {
  width: 64px;
  height: 64px;
  color: rgb(255, 255, 255) !important;
  margin: -64px auto 0 90px;
}

.u-section-8 .u-icon-3 {
  width: 64px;
  height: 64px;
  color: rgb(255, 255, 255) !important;
  margin: -64px auto 0 180px;
}

.u-section-8 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  text-transform: none;
  margin: 62px 288px 0 0;
}

.u-section-8 .u-text-3 {
  margin: 0 62px 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 360px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 28px;
    margin-bottom: 28px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 334px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-8 .u-image-1 {
    margin-top: initial;
    margin-bottom: initial;
    height: auto;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 334px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-8 .u-text-1 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-8 .u-icon-1 {
    margin-left: 30px;
  }

  .u-section-8 .u-icon-2 {
    margin-left: 120px;
  }

  .u-section-8 .u-icon-3 {
    margin-right: 172px;
    margin-left: auto;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 45px;
    margin-right: 99px;
    margin-left: 30px;
  }

  .u-section-8 .u-text-3 {
    width: auto;
    margin-top: 13px;
    margin-right: 99px;
    margin-left: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 337px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 12px;
    margin-bottom: 27px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 223px;
  }

  .u-section-8 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 338px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 47px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-icon-1 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-8 .u-icon-2 {
    margin-left: 92px;
  }

  .u-section-8 .u-icon-3 {
    margin-right: 130px;
  }

  .u-section-8 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 27px;
    margin-right: 85px;
    margin-left: 0;
  }

  .u-section-8 .u-text-3 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 621px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-bottom: 30px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 372px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-8 .u-icon-1 {
    margin-top: 18px;
    margin-left: 10px;
  }

  .u-section-8 .u-icon-2 {
    margin-left: 116px;
  }

  .u-section-8 .u-icon-3 {
    margin-right: auto;
    margin-left: 222px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 14px;
    margin-right: 95px;
    margin-left: 10px;
  }

  .u-section-8 .u-text-3 {
    margin-top: 14px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 495px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-bottom: 23px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 234px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 10px;
  }

  .u-section-8 .u-icon-1 {
    margin-top: 10px;
  }

  .u-section-8 .u-icon-2 {
    margin-left: 94px;
  }

  .u-section-8 .u-icon-3 {
    margin-right: 98px;
    margin-left: auto;
  }

  .u-section-8 .u-text-2 {
    margin-top: 37px;
    margin-right: 10px;
  }

  .u-section-8 .u-text-3 {
    margin-top: 0;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 10px;
}.u-section-10 .u-sheet-1 {
  min-height: 276px;
}

.u-section-10 .u-layout-wrap-1 {
  position: relative;
  margin: 59px auto 59px 0;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 179px;
}

.u-section-10 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-10 .u-image-1 {
  width: 138px;
  height: 91px;
  position: relative;
  margin: 0 auto;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 179px;
}

.u-section-10 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-10 .u-image-2 {
  width: 138px;
  height: 105px;
  position: relative;
  margin: 0 auto;
}

.u-section-10 .u-layout-cell-3 {
  min-height: 179px;
}

.u-section-10 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-10 .u-image-3 {
  width: 311px;
  height: 139px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 228px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-image-1 {
    width: 114px;
    height: 75px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-10 .u-image-2 {
    width: 114px;
    height: 87px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 107px;
  }

  .u-section-10 .u-image-3 {
    width: 231px;
    height: 69px;
    margin-left: 31px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 175px;
  }

  .u-section-10 .u-image-1 {
    width: 87px;
    height: 57px;
  }

  .u-section-10 .u-image-2 {
    width: 87px;
    height: 66px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-10 .u-image-3 {
    width: 196px;
    left: 12px;
    right: auto;
    height: auto;
    margin: initial;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-10 .u-image-1 {
    width: 246px;
    height: 71px;
  }

  .u-section-10 .u-image-2 {
    width: 257px;
    left: 136px;
    right: auto;
    height: auto;
    margin: initial;
  }

  .u-section-10 .u-image-3 {
    width: 341px;
    position: relative;
    height: auto;
    margin: initial;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-image-1 {
    width: 154px;
    height: auto;
    margin: initial;
  }

  .u-section-10 .u-image-2 {
    width: 178px;
    left: 77px;
    height: auto;
    margin: initial;
  }

  .u-section-10 .u-image-3 {
    width: 196px;
    height: auto;
    margin: initial;
  }
}